<article class="border">

    <div class="fx-row-center">

        <h4 #cronometerTitle
          class="min-w-20p max-w-20p no-border editable"
          contenteditable="true"
          (blur)="onTitleChange($event)">
            {{cronometer.title}}
        </h4>
        <div class="fx-row-center  w-60p">

            <h1 id="chronometerOutput">{{cronometer.timeOutputString}}</h1>
            <div class="fx-row-center max-w-70p min-w-12">

                <button (click)="onPlay()">Play</button>
                <button (click)="onPause()">Pause</button>
                <button (click)="onReset()">Reset</button>
            </div>
        </div>

        <button class="btn-txt-only txt-3" (click)="onDelete()"> x </button>
    </div>
</article>